* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
}
.i {
    padding: 10px;
    transition: all 0.3s ease;
}
.i:hover {
    border-radius: 5px;
    background: #2d2d2d;
}
.nav-bar {
    width: 3%;
    background: #202020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.nav-one {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ddd9d9;
    cursor: pointer;
}
.nav-bar .fa-bars {
    margin-bottom: 8px;
}
.nav-two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ddd9d9;
    cursor: pointer;
}



/* Contacts */

.contacts {
    background: #2d2d2d;
    width: 32%;
    height: 100vh;
    border-right: 3px solid #292929;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contacts .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ddd9d9;
    margin-top: 8px;
}
.contacts .head h1 {
    font-size: 24px;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #1daa61;
    border-radius: 5px;
    background: #202020;
    margin-top: 15px;
}
.search #input {
    width: 100%;
    border: none;
    outline: none;
    background: #202020;
    padding:0 10px;
    color: #ddd9d9;
}
.search .i{
    color: #ddd9d9;
}


/* Chats */
.chats {
    background: #2d2d2d;
    width: 65%;
    height: 100vh;
}